apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "avcn-manager.fullname" . }}
  labels:
    {{- include "avcn-manager.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      {{- include "avcn-manager.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "avcn-manager.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - env:
            - name: REST_CLIENT_VES_ENDPOINT
              value: {{ .Values.config.vesEndpoint | quote }}
            - name: KAFKA_BOOTSTRAP_SERVERS
              value: {{ .Values.config.kafkaBootstrapServer | quote }}
            - name: KAFKA_SOURCE_TOPIC
              value: {{ .Values.config.kafkaSourceTopic | quote }}
            - name: KAFKA_APPLICATION_ID
              value: {{ .Values.config.kafkaAplicationId | quote }}
            - name: REST_CLIENT_PNFSIMULATOR_ENDPOINT
              value: {{ .Values.config.pnfsimulatorEndpoint | quote }}
          name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.config.containerPort }}
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /healthcheck
              port: http
          readinessProbe:
              httpGet:
                path: /ready
                port: http
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
